body{
    background-color: #d1d1d1;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes.png");
  }

  .tab{
    background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
    box-shadow: 0 6px 22px #000;
    background-color: #e9de0c;
    padding: 0;  
    
}

