#box{
    background-color: violet;
    height: 300px;
    width: 700px;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7) url('bg.avif');
    background-size: cover;
    border-radius: 4px;
}

body{
    background-color: aquamarine;
    background-blend-mode: darken;
    background: linear-gradient(135deg, rgb(250, 250, 250) 0%, rgb(250, 250, 250) 51%, rgb(0, 6, 12) 51%,  rgb(0, 6, 12)  100%);
      
}

#box.show{
    visibility:visible;
}

.btn-s {
    background-image: linear-gradient(to right, #84a5fa 0%, #8fd3f4 51%, #84fab0 100%);
  }


.btn-s:hover{
    background-image: linear-gradient(to right, #84fab0 0% , #8fd3f4 51%, #84a5fa 100%);
  }